.about, .review, .places
  min-height 100vh
  display block

  .full
    width 100%
    min-height 100%

    h1
      color $secondary

    h2, h3
      color $emphasis

    .half
      width 50%
      float left
      box-sizing border-box
      padding 3em 4em

      &.blue, &.red, &.map
        height 100vh
        min-width 50%

      &.blue
        background-color $brand-new

      &.red
        background-color $brand !important

        h1
          color $white

      &.fluid
        container()
        flex-direction column
        height 100vh
        text-align left
        align-items initial
        background-color $white

      &.reviews, &.business
        align-items center

      &.reviews
        background-color $secondary

        h1
          color $white

      &.map
        padding 0

        .ng-map
          height = 100%


.review
  blockquote
    &:first-of-type
      animation-delay 1.1s

    &:last-of-type
      animation-delay 1.2s


@media only screen  and (min-width 600px) and (max-width 1024px)
  .about, .review, .places
    .full
      .half
        padding 1.2em 2em
      .main
        width 100%

      .secondary
        width 0%
        min-width 0% !important
        padding 0

  .about .full .half.main
    color lighten($text, 70%)
    background-color $brand-new

    h2, h3
      color $white

  .places .full

    .half.business
      container()

    .half.business, .half.map
      width 100%
      height 50vh

    .toggle
      display none

    .nav-pills
      margin-bottom 2em

    h1
      font-size 1.5em



@media only screen and (max-width 599px)
  .about, .review, .places
    .full
      h1
        margin-bottom: 0.1em

      .half
        padding 1.1em 0.9em
      .main
        width 100%

      .secondary
        width 0%
        min-width 0% !important
        padding 0

  .places .full
    position relative
    .half
      width 100%

    .over
      position absolute
      z-index 2

  .toggle
    position absolute
    z-index 3

    &.bottom
      bottom 1.2em
