.contact .full
  text-align center

  .contact-form
    container()
    flex-direction column
    height 80vh
    box-sizing border-box

  footer
    container()
    flex-direction column
    height 20vh
    width 100
    background-color $black
    color lighten($text, 70%)


  .pixela-footer
    width 100%

  .nav
    li
      padding  0.6em

      a
        color lighten($text, 50%)

  .icon-heart
    color $brand


.pixela-logo
  height 1.2em

@media only screen and (max-width 1024px)
  .contact .full .contact-form
    container()
    flex-direction column
