.main-section .full
  blue-container()
  background-image url('/img/airport.jpeg')
  background-repeat no-repeat
  background-position center center
  background-size cover
  background-attachment fixed

  .cover
    cover()

  .overlay
    container()
    cover()
    background-color rgba($secondary, 0.55)
    min-height 100vh
    flex-direction column

    h1
      font-size 3.2em
      font-weight bold
      margin-bottom 0.2em
      margin-top 0
      animation-delay 1s
      text-transform capitalize

    p
      font-size 1.3em
      margin-top 0.3em
      animation-delay 1.2s

    .btn
      animation-delay 1.5s


.placeholder-img
  max-width 100%
  position relative
  top 4em

@media only screen  and (min-width 600px) and (max-width 1024px)
  .main-section .full .overlay
    box-sizing border-box
    padding 1.1em

    h1
      font-size 2.6em
      max-width 100vw

@media only screen and (max-width 599px)
  .main-section .full .overlay
    box-sizing border-box
    padding 1.1em

    h1
      font-size 2.5em
      max-width 90vw

    p
      font-size 1.1em
      max-width 90vw
