.process .full
  position relative
  box-sizing border-box
  p
    color $text
  .process-steps, .tracker
    padding 3em 5em

  .process-steps
    background-color $background
    height 35vh

    h1
      color $brand

  .tracker
    text-align center

    color $secondary

    img
      position absolute
      right 1em
      bottom 2em
      z-index -1


  .step-holder
    padding-top 1.3em
    width 100%
    text-align center

    .step
      list-style none
      float left
      width 33.33%
      font-weight bold
      color $secondary

      img
        display block
        max-width 100%
        margin 0 auto

@media only screen  and (min-width 600px) and (max-width 1024px)
  .process .full
    .process-steps, .tracker
      container()
      flex-direction column
      text-align: center;

    .tracker img
      width 55%


@media only screen and (max-width: 599px)
  .process .full
    .tracker img
      width 70%
      right 0
      bottom 1em

    .process-steps, .tracker
      container()
      flex-direction: column;
      text-align center
      padding 1.5em 2em
  .step img
    width 50%
