.services
  .full
    padding 3em 5em
    gs('fluid')
    width auto

    h1
      animation-delay 1.1s

    h1, h3
      color $emphasis

    h3
      font-size 1.7em
      margin-bottom 0.2em
      animation-delay 1.3s

    .service-list
      row()
      margin-top 5%

      .service
        &:nth-child(1)
          animation-delay 1.1s

        &:nth-child(2)
          animation-delay 1.3s

        &:nth-child(3)
          animation-delay 1.5s

        &:nth-child(4)
          animation-delay 1.7s

        col(3)
        text-align center
        box-sizing border-box
        padding 1.5em

        p
          line-height 1.65
          color lighten($text, 10%) !important

        img
          max-width 100%
          width 150px
          height 150px

@media only screen  and (min-width 600px) and (max-width 1024px)
  .services .full
    container()

    .service-list .service
      col(6)
      text-align center

      p
        display none

@media only screen and (max-width 599px)
  .services
    .full
      container()
      box-sizing border-box
      padding 1.5em 2em
      text-align center

      .service-list
        .service
          col(6)
          padding 0

          h3
            font-size 1.1em

          p
            display: none
