blockquote
  box-sizing border-box
  background-color $brand-new
  padding 1.7em 1.3em
  padding-bottom 2.2em
  color $white
  border-radius 45px
  min-height 20vh
  position relative
  max-width 60%
  margin-bottom 4.5em
  z-index 1

  a
    color $white
    text-decoration: none
    cursor pointer

  cite
    font-size 0.95em

  .arrow
    width 0
    border 50px solid transparent
    position absolute
    z-index -1

    &.left
      border-left-color $brand-new
      border-top-color $brand-new
      left 0
      bottom -40px

    &.right
      border-right-color $brand-new
      border-top-color $brand-new
      right 0
      bottom -40px

@media only screen and (max-width 599px)
  blockquote
    max-width 100%
    margin 1.3em
