btn($color)
  background-color $color
  text-decoration none

.btn
  min-height 40px
  min-width 40px
  padding 0.15em 0.85em
  color $white
  background-color $secondary
  border-radius 50px
  line-height 2.7em
  border none
  text-align center

  &.red
    btn($brand)
    transition transform 0.1s ease-in, background-color 0.1s ease-in

    &:hover
      transform scale(1.01)
      transition transform 0.2s ease-out, background-color 0.2s ease-out
      background-color lighten($brand, 5%)

  &.big
    border-radius 100px
    width 300px
    font-size 1.2em
    padding 0.25em 0.85em

  &.wide
    min-width 250px


@media only screen and (max-width 599px)
  .btn
    &.big
      font-size 1em
      height 45px
      min-width 250px
      margin 0
      margin-top 1.2em
