input[type="text"]
input[type="email"]
  min-height 40px
  min-width 40px
  padding 0.15em 0.85em
  border-radius 50px
  box-shadow none
  border 0.1em solid $emphasis
  color $emphasis
  box-sizing border-box
  float left

  &:focus
    outline none

  &.big
    min-width 350px

textarea
  color $emphasis
  border 0.1em solid $emphasis
  border-radius 15px
  padding 0.15em 0.85em
  box-sizing border-box

form
  max-width 45%
  margin 0 auto
  height auto
  box-sizing border-box

  input
    width 46.5%
    margin 1em 1.75%

    &.center
      margin 0 auto
      float none

  textarea
    width 96.5%
    margin 1em 1.75%

  input, textarea
    float left

@media only screen and (min-width 700px) and (max-width 1280px)
  form input
    float none !important
    margin 0 auto

@media only screen and (max-width 1024px)
  input[type="text"].big
    min-width 250px
    margin-bottom 1.1em

  form
    max-width 100%
    input
      width 96.5%
      margin-bottom 0em
