#menu-trigger
  display: none;

.nav
  li
    display inline
    list-style none

  a
    text-decoration none

.toggle
  padding 0.4em 0.7em
  background-color $emphasis
  border-radius 40px
  color $white
  cursor pointer

  &:hover
    background-color lighten($emphasis,  5%)

.nav-pills
  border solid 1px $emphasis
  box-sizing border-box
  padding 0.85em 0.15em
  text-align center
  border-radius 40px
  min-width 50%
  text-align center
  color $emphasis
  margin-bottom 5em

  li
    padding 0.4em 0.7em
    margin 0 0.2em
    min-width 15%
    cursor pointer
    border-radius 40px
    transition background-color 0.1s ease-in,
               color 0.1s ease-in

    &:first-child
      margin-left 0.1em

    &:last-child
      margin-right 0.1em

    a
      text-align center
      color inherit

    &:hover, &.active
      background-color $brand
      color $white
      transition background-color 0.2s ease-out,
                 color 0.2s ease-out


.menu
  float right
  text-align right
  padding-left 0
  position fixed
  z-index 1
  top 3em
  right 2.5em

  li.menu-label
    display: none;

  li a
    color white
    padding 0.3em 0.85em
    border-radius 40px
    transition all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow none

    &:hover
      background-color $secondary
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      transition all 0.3s cubic-bezier(.25,.8,.25,1)

  &.services, &.contact
    li a
      color $secondary

    li.current a
      background-color $secondary
      color white


  li.menu-label
    position: relative;
    width 40px
    height 40px

    label
      width 40px
      height 40px
      box-sizing border-box
      border-radius 100%
      padding 0
      position absolute
      text-align center
      line-height 40px
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      transition box-shadow 0.2s ease-in

    li a
      color $secondary

      &:hover
        color white

  &.red, &.map
    li.current a, li a:hover
      color white
      background-color $brand

    li a, li label
      color $brand

  &.white, &.people
    li.current a
      background-color $white
      color $secondary

    li a, li label
      color white


.hidden
  display none !important

@media only screen and (min-width 600px) and (max-width 1024px)
  .menu
    &.services, &.people, &.contact
      li a
        color $secondary

@media only screen and (max-width: 599px)
  .nav-pills
    min-width 100%
    font-size 1em
    padding 1em 0.1em

    li
      margin 0 0.1em
      min-height 48px !important
      box-sizing border-box

      &:nth-of-type(even)
        clear both

      &:first-child
        margin-left 0em

      &:last-child
        margin-right 0em


  .hidden-small
    display none

  .menu
    float left
    margin-top: 0
    left 0
    padding 1.2em
    padding-top 0
    top 0.4em !important
    text-align left
    right 0

    li.menu-label
      display list-item
      padding-bottom: 0

    li label
      color white
      text-align left
      display list-item
      font-size 1.3em
      width 100%
      background rgba(#000, 0.35)

    li a:hover
      box-shadow none

    &.services, &.contact
     li.menu-label label
      color $white
      background-color $secondary
      box-shadow none

    &.white
      li.menu-label label
        color $secondary
        background-color $white

    &.red, &.map, &.people
      li.menu-label label
        color white
        background-color $brand

    li a
      border-radius 0
      width 100%
      display block

  #menu-trigger
    &:not(:checked) + .menu li:not(.menu-label) a
      transform scale3d(1, 0, 1);
      transform-origin 0 0;
      transition transform 0.1s ease

    &:checked + .menu
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      transition box-shadow 0.2s ease-in
      background rgba(#000, 0.35)

      li.menu-label label
        box-shadow none

      &.services, &.contact
        background-color $secondary
        transition all 0.2s ease-in

        li a
         color $white

      &.white
        background-color $white
        li a
          color $secondary

          &:hover
            color $white
            background-color $secondary

      &.red, &.map, &.people
        background-color $brand
        li a
          color $white


@media only screen and (min-width 600px) and (max-width 1024px)
  .menu
    top 1em
    right 0
    left 0
    text-align center
    padding-left 2.5em

    li
      margin 0 1.25%

@media only screen and (min-width 1024px)
  .hidden-big, li.hidden-big
    display none
