@import 'colors'
@import 'mixins'
@import 'kouto-swiss'
body
  font-family 'open_sans', sans-serif
  color $text

  p
    line-height 1.75


body, html
  margin 0
  overflow hidden
  transition opacity 400ms

body, .full-page-root, html
  display block
  padding 0
  width 100vw
  height 100vh

.full-page-root
  position relative
  transform-style preserve-3d;
  transition transform 800ms ease

  .full-page-item
    width 100vw
    height 100vh

@media only screen and (max-width 599px)
  h1
    font-size 1.4em

@media only screen and (min-height 641px) and (max-height 799px)
  .menu
    top 1em !important

  .tracker
    img
      height 35vh

  h1
    font-size 1.5em
    margin-bottom 1em
    margin-top 1.3em

  blockquote
    max-width 70% !important

  .tracker form
    max-width 70%

@media only screen and (max-height 640px)
  .menu
    top 0 !important
    margin-top 0

  p
    font-size 0.95em
    margin 0.2em auto

  h1
    font-size 1.3em

  h2
    font-size 1.1em

  h3
    font-size 1em

  .review h1
    margin-top 2em

  footer
    .left
      display none

    small
      font-size 0.7em

  .main-section .full .overlay h1
    font-size 1.9em !important
