@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?iyt7tt');
  src:  url('/fonts/icomoon.eot?iyt7tt#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?iyt7tt') format('truetype'),
    url('/fonts/icomoon.woff?iyt7tt') format('woff'),
    url('/fonts/icomoon.svg?iyt7tt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-marker:before {
  content: "\e900";
}
.icon-face:before {
  content: "\e90a";
}
.icon-menu:before {
  content: "\e901";
}
.icon-google-plus:before {
  content: "\e90b";
}
.icon-linkedin:before {
  content: "\e902";
}
.icon-clock:before {
  content: "\e903";
}
.icon-phone:before {
  content: "\e904";
}
.icon-code:before {
  content: "\e905";
}
.icon-heart:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\e908";
}
