container()
  display flex
  text-align center
  align-items center
  justify-content center

blue-container()
  background-color $secondary
  color $white

cover()
  min-width 100%
  min-height 100%
  width 100%
  height 100%
