<input type="checkbox" id="menu-trigger">
<ul class="nav menu" scroll-spy>
  <li class="menu-label"><label class="icon-menu menu-trigger" for="menu-trigger"></label></li>
  <li spy="inicio" class="hidden" spy-class="hidden" siblings-class="white"><a href="" ng-click="goTo(0)">Inicio</a></li>
  <li class="hidden" spy="servicios" siblings-class="services"></li>
  <li class="hidden" spy="clientes" siblings-class="people"></li>
  <li spy="nosotros" siblings-class="white"><a href="" ng-click="goTo(2)">Nosotros</a></li>
  <li spy="track" siblings-class="red"><a href="" ng-click="goTo(3)">Rastree su producto</a></li>
  <li spy="mapa" siblings-class="map"><a href ng-click="goTo(5)">Sucursales</a></li>
  <li spy="contacto" siblings-class="contact"><a href="" ng-click="goTo(6)">Contáctenos</a></li>
</ul>
<full-page-sections hm-swipe-up="swipeUp()" hm-swipe-down="swipeDown()">
  <page-section class="main-section" id="inicio">
    <div class="overlay">
      <h1 class="animated">Servicio express internacional</h1>
      <p class="animated">
        Logística integral personalizada a cualquier parte del mundo
      </p>
      <a href="" class="btn big red animated bounceIn" ng-click="goTo(6)">Contáctenos</a>
    </div>
  </page-section>
  <page-section class="services" id="servicios" enter-class="slideInUp">
    <h1>¿Por qué nosotros?</h1>
    <p>
      Adaptamos y personalizamos la logística a las necesidades de su empresa
    </p>
    <div class="service-list">
      <article class="service animated">
        <img src="/img/icons/box.svg" alt="sample" />
        <h3>Cargo</h3>
        <p>
          Importación y exportación aérea, transporte aéreo consolidado, carga seca, carga refrigerada,
          carga líquida, manejo de materiales peligrosos, empaque adecuado.
        </p>
      </article>
      <article class="service animated">
        <img src="/img/icons/plane.svg" alt="sample" />
        <h3>Courier</h3>
        <p>
          Envío aéreo express, envío de documentos o paquetes puerta a puerta,
          entrega en 24 o 48 horas, trazabilidad, prueba de entrega en tiempo real, seguimiento vía web.
        </p>
      </article>
      <article class="service animated">
        <img src="/img/icons/ship.svg" alt="sample" />
        <h3>Marítimo</h3>
        <p>
          Contenedores completos, contenedor consolidado,
          contenedor de productos perecederos. Importación de cargos.
        </p>
      </article>
      <article class="service animated">
        <img src="/img/icons/package.svg" alt="sample" />
        <h3>Trámites Aduanales</h3>
        <p>
          Servicio ágil de aduana en combex, agentes en todos los puertos y fronteras del país.
          Permisos no arancelarios.
        </p>
      </article>
    </div>
  </page-section>
  <page-section class="about" id="nosotros">
    <div class="half fluid main">
      <h2>¿Quienes somos?</h2>
      <p>
        <em>ISSE Express</em> es una empresa nacional de courier y carga aérea,
        marítima y terrestre. Orientada a satisfacer las necesidades de transporte y logística
        internacional y nacional.
      </p>

      <p>
        Nuestros clientes son medianas y grandes empresas o personas individuales,
        que requieren un servicio urgente, transparente con certeza de entrega; a un precio
        justo y acorde a las necesidades de su logística.
      </p>

      <h3>Nuestro personal es el más calificado </h3>
      <p>
        Contamos con personal calificado con más de 20 años de experiencia en
        logística y distribución, sabemos que el tiempo de respuesta es
        esencial para la toma de decisiones por tal razón respondemos de manera urgente.
      </p>
    </div>
    <div class="half blue cover secondary">
      <img class="placeholder-img" src="/img/isse.png" alt="isse logo" />
    </div>
  </page-section>
  <page-section class="process" id="track">
    <div class="process-steps">
      <h1>¿Cómo enviar con nosotros?</h1>
      <ul class="step-holder">
        <li class="step">
          <img src="/img/icons/receive.svg" alt="receive" />
          Recibimos
        </li>
        <li class="step">
          <img src="/img/icons/pack.svg" alt="pack" />
          Empacamos
        </li>
        <li class="step">
          <img src="/img/icons/send.svg" alt="send" />
          Enviamos
        </li>
      </ul>
    </div>
    <div class="tracker">
      <h1>¿Ya envió su paquete?</h1>
      <p>
        Rastree su paquete <br>
        <small>PBX 2362 2413</small>
      </p>
      <tracking-code-form after-submit="openWindow"></tracking-code-form>
      <img src="/img/packages.png" alt="package" />
    </div>
  </page-section>
  <page-section class="review" id="clientes">
    <div class="half cover secondary img-holder">
      <img class="placeholder-img" src="/img/customer.jpg" alt="customers" />
    </div>
    <div class="half fluid reviews main">
      <h1>Ellos ya confían en nosotros</h1>
      <blockquote class="animated">
        <p>
          La lógistica de ISSE nos ha permitido crecer cada día más y brindar los mejores productos importados a nuestros clientes
        </p>
        <cite><a href="//www.banquetesensucasa.com" taget="_blank">Selvin Vinicio - Banquetes en su casa</a></cite>
        <span class="left arrow"></span>
      </blockquote>

      <blockquote class="animated">
        <p>
          Gracias a los procesos ágiles de aduana de ISSE, nuestros clientes pueden tener acceso a la mejor tecnología médica de nivel mundial
        </p>
        <cite><a href="//www.sumilab.com.gt" taget="_blank">Carlos Lopez, Encargado de importaciones</a></cite>
        <span class="right arrow"></span>
      </blockquote>
    </div>
  </page-section>
  <page-section class="places" id="mapa">
    <show-case class="half fluid business" ng-class="{over: !showMap}" selected-item-changed="updateMap">
      <show-case-title>
        <h1>Nuestras sucursales alrededor del país</h1>
      </show-case-title>
      <show-case-content>
        <show-case-item title="Xela">
          <item-info>
            <h3>ISSE Quetzaltenango</h3>
            <p>
              <span class="icon-marker"></span> 4ta. calle 23-26 Zona 3, Plaza la villa, Quetzaltenango
            </p>
            <p>
              <span class="icon-phone"></span> 7765 8084
            </p>
          </item-info>
        </show-case-item>
        <show-case-item title="Antigua">
          <item-info>
            <h3>ISSE Antigua Guatemala</h3>
            <p>
              <span class="icon-marker"></span> 6ta Calle Poninente 16a, Antigua Guatemala
            </p>
            <p>
              <span class="icon-phone"></span> 7832 6888
            </p>
          </item-info>
        </show-case-item>
        <show-case-item title="Guatemala">
          <item-info>
            <h3>ISSE Guatemala</h3>
            <p>
              <span class="icon-marker"></span> 12 calle 2-04 Zona 9 Plaza del sol OF. 504B
            </p>
            <p>
              <span class="icon-phone"></span> 2362 2413
            </p>
          </item-info>
        </show-case-item>
        <show-case-item title="Mazatenango">
          <item-info>
            <h3>ISSE Mazatenango</h3>
            <p>
              <span class="icon-marker"></span> 7ma. Calle 3-50 Zona 1, Mazatenango
            </p>
            <p>
              <span class="icon-phone"></span> 7872 6614
            </p>
          </item-info>
        </show-case-item>
        <span class="toggle hidden-big" ng-click="toggle()" ng-class="{ bottom: showMap }">{{showMap ? 'Volver' : 'Ver el mapa'}}</span>
      </show-case-content>
    </show-case>
    <article class="half map" ng-class="{ over: showMap}" map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyBoxdWQquvJ1Hj2Vea7TbFEl41qASYuW0E">
      <map class="ng-map" zoom="18" center="{{currentPlace.coordinates}}" zoom-control="false"
      pan-control="false"  disable-default-u-i="true" scrollwheel="false"
      style="height: 100%" styles="{{mapStyles}}">
      <marker position="{{currentPlace.coordinates}}" col></marker>
      </map>
    </article>
  </page-section>
  <page-section class="contact" id="contacto">
    <div class="contact-form">
      <h1>Contáctenos</h1>
      <form action="mailto:hmota@isseexpress.com" method="post"  enctype="text/plain">
        <input type="text" name="name" value="" placeholder="Nombre">
        <input type="email" name="email" value="" placeholder="Correo electrónico">
        <textarea name="message" rows="8" cols="40" placeholder="Mensaje"></textarea>
        <input type="submit" class="btn red" name="submit" value="Contáctenos">
      </form>
    </div>
    <footer>
      <div class="left">
        <ul class="nav">
          <li><a ng-click="goTo(0)" href="">Inicio</a></li>
          <li><a ng-click="goTo(1)" href="">Nuestros Servicios</a></li>
          <li><a ng-click="goTo(2)" href="">Nosotros</a></li>
          <li><a ng-click="goTo(3)" href="">Envíe con nosotros</a></li>
          <li><a ng-click="goTo(4)" href="">Nuestros clientes</a></li>
          <li><a ng-click="goTo(5)" href="">Sucursales</a></li>
        </ul>
      </div>
      <div class="social">
        <ul class="nav">
          <li><a href="https://www.facebook.com/iseeguatemala/?fref=ts "><span class="icon-facebook"></span></a></li>
          <li><a href="https://www.linkedin.com/in/isse-guatemala-05574a123"><span class="icon-linkedin"></span></a></li>
          <li><a href="https://plus.google.com/u/5/"><span class="icon-google-plus"></span></a></li>
        </ul>
      </div>
      <div class="pixela-footer">
        <small>Copyright © 2016, <span class="icon-code"></span> with <span class="icon-heart"></span> by <a href="//www.pixela.com.gt"><img src="/img/icons/pixela.svg" alt="pixela" class="pixela-logo"></a>, All Rights Reserved.</small>
      </div>
    </footer>
  </page-section>
</full-page-sections>
