<section class="showable">
  <div ng-transclude="title">

  </div>
  <ul class="nav nav-pills">
    <li class="pill" ng-repeat="item in items" ng-class="{ active: item.selected }" ng-click="select(item)">
      <a href="">{{item.title}}</a>
    </li>
  </ul>
  <div ng-transclude="content">

  </div>
</section>
