<form class="inline" ng-submit="createLink()" novalidate>
  <input type="text" class="big" ng-model="data.code" placeholder="Ingrese el código">
  <input type="submit" class="btn red wide" value="Rastrear mi paquete">
  <span class="message">{{message}}</span>
</form>
